/* MEDIA QUERIES */



/* Responsive For Smaller Than 480px & Down Screens  -  MOBILES */

/* HEADER SECTION CODE*/


@media (min-width:480px) and (max-width:599px) {
    /* LOGO */
    .logo{
    margin-left: 3rem; 
    }
    /* MENU-ICON */
    .menu-icon {
        display: block;
    }
    /* SIDEBAR */
    .sidebar.active {
        left: 0;
    }
    .sidebar {
        height: 100vh;
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        background: #333;
        transition: 0.3s;
        padding-top: 60px;
    }
    /* NAVBAR */
    .navbar{
        display: block;
    }
    .nav-links a{
        padding: 25px;
        /* padding-top: 30px; */
        /* padding-bottom: 30px; */
        padding-left: 40px;
        /* padding-right: 30px; */
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;  
    }
    .nav-links a:hover {
        background: #575757;
        /* padding: 15px; */
        /* padding-left: 30px; */
    }
    .nav-links a::before{
        display: none;
    }
    .nav-links a:hover::before{
        display: none;
    }
}
    
/* HOME SECTION CODE*/

 @media (min-width:480px) and (max-width:599px){
    .home{
        padding-top: 8rem;
    }
    .hero-img img{
        margin-left: 3.7rem;
        margin-top: -1rem;
        height: 350px;
        width: 350px;
    }
    .hero-info-text h3{
      margin-left: -4.5rem;
      margin-top: 22rem;
      font-size: 1.5rem;
    }
    .hero-info-text h1{
        margin-left: -6rem;
        margin-top: 0.5rem;
        font-size: 3.5rem;  
    }
    .color-text{
        margin-left: -4.5rem;
        padding-top: 0.5rem;
        font-size: 1.2rem;
    }
    .cv-btn{
        margin-left: -4.2rem;
        padding: 0.5rem 1rem;
    }
    .socials{
        margin-left: -5.8rem;
        gap: 2rem;
    }
    
}
    
/* SERVICE SECTION CODE */
    
@media (min-width:480px) and (max-width:599px){
    .services{
        padding-top: 5rem;  
    }
    .service-container{
        width: 393px;
        height: 140px;
        margin-left: 3rem;
    }
    .service-list-items img{
        width: 130px;
        height: 140px; 
    }
    .list-item-text h2{
        font-size: 15px;
    }
    #wdv-text{
        padding-left:30px;
    }
}
      
/* ABOUT SECTION CODE */
    
@media (min-width:480px) and (max-width:599px){
        
    /* ABOUT,SKILLS,EDU,CERT-TAB-NAVBAR   */
    
    .about-container{
        width: 400px;
        height: 1400px;
        margin-left: 3rem; 
        border: 1px solid grey;
        /* background-color: yellow;  */
    }
    .about-nav-links{
        height: 200px;
        border: none;  
    }
    #abt-tab{
        margin-left: 0;    
    }
    .about-nav-buttons button {
        width: 100%;
        height: 70px;
        border: none;
        font-size: 25px;
        border-bottom: 2px solid grey;
    }
}
    
/* ABOUT-TAB */
@media (min-width:480px) and (max-width:599px){
    .nav-buttons{
        border: none;
    }
    .nav-content-tab{
        display: block;
    }
    .about-tab-img img{
        width: 350px;
        height: 350px;
        margin-left: 10px;
        margin-top: 6rem;
    }
    .content-text-tab h1{
        margin-left: 20px;
        margin-top: 3rem;
    }
    .content-text-tab p{
        margin-left: 20px;     
    }
    .full-name{
        margin-left: 20px;
    }
    .full-name h2{
        font-size: 17px;
    }
    .my-details{
        display: block;
        margin-left: 20%;    
    }
    .phone{
        margin-top:20px;
        margin-left: 20px;
    }
    .social-media{
        margin-left: 20px;
    }
}
    
/* SKILLSET-TAB */
    
@media (min-width:480px) and (max-width:599px){
    
    .skill-tab{
        display: block;
        
    }
    .skill-content{
        width: 400px;
        margin-left: 10px;
        margin-top: 6rem;
    }
    #skill-content{
    margin-top: 40px;
    }
    .skill-quote{
        margin-top: 30px;
        font-size: 18px;
        width: 360px;
    }
    .skill-quote-span{
        margin-left: 0%;
    }
    .skill-tab-img img{
        width: 300px;
        height: 300px;
        margin-top: 13rem;
        margin-left: 20px;
    }
    
    
}
    
/* EDUCATION-TAB */
    
@media (min-width:480px) and (max-width:599px){
      
    .edu-quote{
        margin-left: 10px;
        margin-top: 5rem;
        font-size: 20px;
    }
    .edu-container{
        margin-left: 1rem;
    }
    .card-container {
        display: block; 
    }
    .ag-courses_item {
        width: 300px;
        height: 300px;
    }
    
    .study{
        margin-top: -20px;
        margin-left: 60px;
    }
    .college{
        margin-top: -5px;
        margin-left: 40px;
    }
    .course{
        margin-top: -5px;
        margin-left: 100px;
    }
    .branch{
        margin-top: -5px;
        margin-left: 30px;
    }
    .duration {
        margin-top: -5px;
        margin-left: 90px;
    }
    
    .cgpa{
        margin-top: -5px;
        margin-left: 70px;
    }
    .nuz{
        margin-top: 8px;
        margin-left: 60px;
    }
    #inter{
        margin-left: 60px;
    }
    #puc{
        margin-left: 40px;
        font-size: 18px;
    }
    
    #mpc{
        margin-left: 110px;
        font-size: 18px;
    }
    #ssc{
        margin-left: 110px;
    } 
    .zphs{
        margin-left: 40px;
    }
    #ss{
        margin-left: 20px;
        font-size: 20px;
    }  
}
/* CERTFICATIONS-TAB */
    
/* @media (min-width:480px) and (max-width:599px){
    .certifications{
        display: flex;
    }
    .cert-info{
        padding-top: 5rem;
    }
    
    .cert-info h2{
        margin-left: 10%;
        background-color: red;
    }
    .cert-info{
        margin-left: 10%;
        margin-top: 30px;
    }
    .cert-img{
        display: none;
    }
    
} */
    
/* WORK WITH ME */
    @media (min-width:480px) and (max-width:599px){
    .work-together{
        height: 100px; 
    }
    .hire-me i{
        font-size: 50px;
        margin-top: 25px;
        margin-left: 2%;
    }
    .hire-me h2{
        margin-left: 5px;
        margin-top: 40px;
        font-weight: 500;
        font-size: 20px;  
    }
    .hire-me button{
        width: 100px;
        margin-top: 5%;
        margin-left: 10%;   
    } 
}
/* CONTACT SECTION CODE */
    
@media (min-width:480px) and (max-width:599px){
    .contact{
        height: 1050px;
        padding-top: 5rem;
    }
    .contact h2{
        font-size: 40px;
        margin-left: 10%;
    }
    .get-connect{
        display: block;  
    }
    .contact-form{
        margin-left: 5%;
        height: 370px;
        width: 420px;
        /* border-bottom: 0.5px solid grey; */
    }
    .mobile-view{
        width: 450px;
        height: 1px;
        margin-top: 1rem;
        background-color: grey;
        margin-left: -10px ;
        /* margin: 6px 0; */
        /* transition: 0.4s; */
    }
   
    .shk-hnd{
        font-size: 70px;
        margin-left: 40%;
        margin-top: 7%;
    }
    .contact-footer{
        margin-left: 13%;
        width: 320px;
        margin-top: 10%;        
    }
}
    
/* FOOTER SECTION CODE */
    
@media (min-width:480px) and (max-width:599px){
    .footer{
        width: 480px;
        display: flex;
        height: 60px;
        /* background-color: yellow; */
    } 
    .copyright{
        width: 80%;
        margin-left: 4%;
        margin-top: 2%;
        font-size: 2%;
        /* background-color: magenta; */
    }
    .copyright-text{
        font-size: 15px;
    }
    .back-to-top{
        width: 20%;
        margin-top: 5px;
        margin-left: 10px;
    }
    .back-to-top i{
    
        font-size: 35px;
        color: grey;
    }
}

    
