/* MEDIA QUERIES */

/* Responsive For Largerer Than 1024px & Smaller Than 1280px Screens - Medium Laptops */

/* HEADER SECTION CODE*/

@media (min-width:1024px) and (max-width:1279px) {
    .header{
        gap: 9rem;
    }
    /* LOGO */
    .logo{
        margin-left: 3rem; 
    }
    .navbar{
        gap: 8rem;
    }  
}
    
/* HOME SECTION CODE */
@media (min-width:1024px) and (max-width:1279px){
    .home{
        padding-top: 12rem;
    }
    .hero-img img{
        margin-left: 9rem;
    }
    .hero-info-text h1{
        margin-left: 9rem; 
    }
    .cv-btn{
        margin-top: 2rem;
    }
    .socials{
        margin-left: 9rem;
        gap: 3rem;
        margin-top: 2rem;
    }  
}
    
/* ABOUT SECTION CODE */

@media (min-width:1024px) and (max-width:1279px){

    .about{
        padding-top: 5rem;
        height: 680px;
        /* background-color: yellow; */
        /* border: 2px solid red; */
    }
    
    /* ABOUT,SKILLS,EDU,CERT-TAB-NAVBAR */
    
    .about-container{ 
        height: 600px;
        margin-left: 45px; 
        /* background-color: yellow; */
        /* border: 2px solid red; */
    }
    .about-nav-buttons{
        margin-top: 1px;
        /* border: 1px solid blue; */
    }
    #abt-tab{
        margin-left: 3px;    
    }
    .about-nav-buttons button {
        width: 24.5%;
        height: 70px;
        font-size: 30px;
    }
}  
/* ABOUT-TAB */
@media (min-width:1024px) and (max-width:1279px){

    .nav-buttons{
        /* border: 1px solid magenta; */
        height: 520px;
        /* margin-top: 2px; */
    }
    .content-text-tab h1{
        margin-top: -10px;
        font-size: 25px;
    }
}   
    
/* SKILLSET-TAB */
@media (min-width:1024px) and (max-width:1279px){
   
    .skill-content{
        margin-left: 5%;
        margin-top: 1rem;
    }
    #skill-content{
        margin-top: 0rem;  
    }
    .skill-quote-span{
        margin-left: 10%;
    }
    .skill-content h1{
        margin-top: 30px;
    }
    .skill-tab-img img{
        width: 400px;
        height: 400px;
        margin-top: 60px;
        margin-left: -18%;  
    }
}
/* EDUCATION-TAB */

@media (min-width:1024px) and (max-width:1279px){
    .edu-quote{  
        margin-left: 8%;
        font-size: 22px;
        margin-top: 10px;
    }
    .edu-quote-span{
        margin-left: 0px;
    }
    .edu-container {
        margin-top: 1rem;
        margin-left: 10%;
    } 
    .card-container {
        display: flex;
        margin-left: -6.5rem;
    } 
    .ag-courses_item {
        width: 280px;
        height: 400px;
    }
    .study{
        margin-top: 10px;
        margin-left: 60px;
        font-size: 20px;
    }
    .college{
        margin-top: 0rem;
        margin-left: 1.7rem;
        font-size: 15px;
    }
    .course{
        margin-top: 0px;
        margin-left: 80px;
    }
    .branch{
        margin-top: 0px;
        margin-left: 20px;
        font-size: 10px;
    }
    #branch{
        font-size: 20px;
    }
    .cse{
        margin-left: 45px;
    }
    .duration {
        margin-top: -5px;
        margin-left: 70px;
        font-size: 18px;
    }
    .cgpa{
        margin-top: 0px;
        margin-left: 60px;
    }
    .nuz{
        margin-top: 20px;
        margin-left: 50px;
        font-size: 11px;  
    }
    #inter{
        margin-left: 50px;
    }
    #puc{
        margin-left: 50px;
        font-size: 20px;
        margin-top: -5px ;
    }
    .puc-span{
        margin-left: 35px;
    }
    #mpc{
        margin-left: 100px;
        font-size: 20px;
    }
    #ssc{
        margin-left: 100px;
    } 
    .zphs{
        margin-left: 40px;
    }
    #ss{
        margin-left: 25px;
        font-size: 20px;
    }
    #ssc-duration{
        margin-top: 0rem;
    }
    
}
    
/* CERTFICATIONS-TAB */

/* @media (min-width:1024px) and (max-width:1279px){
     
    #certifications{
        display: flex;
    }
    #certifications h2{
        margin-left: 10%;
        margin-top: 1rem;
    }
    #certifications p{
        margin-left: 10%;
        margin-top: 30px;
    }
    #certifications img{
        margin-left: 10%;
        margin-top: 30px;
        width: 200px;
        height: 200px;
    }
} */
    
/* WORK WITH ME */
@media (min-width:1024px) and (max-width:1279px){
    .work-with-me{
        padding-top: 8rem;  
    }
    .work-together{
        height: 150px;
    }
    .hire-me{
        display: flex;
    }
    .hire-me i{
        font-size: 80px;
        margin-top: 30px;
        margin-left: 2% !important;
    }
    .hire-me h2{
        margin-top: 50px;
        font-size: 40px;
    }
    .hire-me button{
        width: 120px;
        margin-top: 5%;
        margin-left: 30%;
    }  
}
/* CONTACT SECTION CODE */
    
@media (min-width:1024px) and (max-width:1279px){
    .contact{
        padding-top: 3rem;
        height: 540px;  
    }
    .contact h2{
        font-size: 50px;
        margin-left: 8%;
    }
    .get-connect{
        gap: 5rem;      
    }
    .contact-form{
        margin-left: 6%; 
        /* background-color: yellow; */
    }
    .input-field{
        height: 60px;
        font-size: 15px;
    }
    .shk-hnd{
        font-size: 50px;
        margin-left: 1rem;
        margin-top: 10%;
    }
    .contact-footer{
        margin-left: 1rem;
        width: 320px;
        margin-top: 0rem;
    }  
    .contact-footer-items{
        height: 60px;
    }
}
    
/* FOOTER SECTION CODE */
    
@media (min-width:1024px) and (max-width:1279px){
    .footer{
        display: flex;
        height: 60px;
        /* background-color: red; */
    } 
    .copyright{
        width: 80%;
        margin-left: 4%;
        margin-top: 2%;
        font-size: 2%;
        /* background-color: magenta; */
    }
    .copyright-text{
        font-size: 15px;
    }
    .back-to-top{
        width: 10%;
        margin-top: 5px;
        margin-left: 60px;
        /* background-color: yellow; */
    }
    .back-to-top i{
        font-size: 40px;
    }
    
}
    



